apps/cloudflare/n8n/critical-bg-escalation.workflow.json
{
  "name": "BG MiniView - Critical BG Escalation",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-5m",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        260
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "workerUrl",
              "value": "={{$env.BG_MCP_BASE_URL || 'https://bgdisplay-worker.zanebaize.workers.dev'}}"
            },
            {
              "name": "mcpKey",
              "value": "={{$env.BG_MCP_KEY || ''}}"
            },
            {
              "name": "pushoverUser",
              "value": "={{$env.PUSHOVER_USER_KEY || ''}}"
            },
            {
              "name": "pushoverToken",
              "value": "={{$env.PUSHOVER_API_TOKEN || ''}}"
            }
          ],
          "number": [
            {
              "name": "urgentLow",
              "value": 55
            },
            {
              "name": "low",
              "value": 70
            },
            {
              "name": "high",
              "value": 180
            },
            {
              "name": "urgentHigh",
              "value": 250
            },
            {
              "name": "cooldownUrgentMin",
              "value": 10
            },
            {
              "name": "cooldownStandardMin",
              "value": 30
            },
            {
              "name": "staleWarnMin",
              "value": 12
            }
          ]
        }
      },
      "id": "set-config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.workerUrl + '/mcp?key=' + encodeURIComponent($json.mcpKey)}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"jsonrpc\":\"2.0\",\"id\":\"bg-now\",\"method\":\"tools/call\",\"params\":{\"name\":\"get_current_bg\",\"arguments\":{}}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "http-get-bg",
      "name": "MCP get_current_bg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        690,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $item(0).$node['Config'].json;\nconst root = $json;\nconst text = root?.result?.content?.[0]?.text || '';\nlet bg = null;\ntry { bg = JSON.parse(text); } catch (e) {}\n\nif (!bg || typeof bg.value !== 'number') {\n  return [{\n    shouldAlert: true,\n    title: 'BG MiniView - Data Error',\n    message: 'Unable to parse current BG payload from MCP.',\n    priority: 1\n  }];\n}\n\nconst value = bg.value;\nconst staleMin = Number(bg.stale_min ?? -1);\nconst trend = String(bg.trend_name || 'Unknown');\n\nlet severity = 'normal';\nif (value <= cfg.urgentLow) severity = 'urgent_low';\nelse if (value <= cfg.low) severity = 'low';\nelse if (value >= cfg.urgentHigh) severity = 'urgent_high';\nelse if (value >= cfg.high) severity = 'high';\n\nif (severity === 'normal' && staleMin >= cfg.staleWarnMin) {\n  severity = 'stale';\n}\n\nconst staticData = getWorkflowStaticData('global');\nif (!staticData.lastSentBySeverity) staticData.lastSentBySeverity = {};\nconst now = Date.now();\nconst cooldownMin = (severity.startsWith('urgent') || severity === 'stale') ? cfg.cooldownUrgentMin : cfg.cooldownStandardMin;\nconst cooldownMs = cooldownMin * 60 * 1000;\nconst lastSent = Number(staticData.lastSentBySeverity[severity] || 0);\nconst inCooldown = now - lastSent < cooldownMs;\n\nlet shouldAlert = severity !== 'normal' && !inCooldown;\nlet title = 'BG MiniView - Alert';\nlet priority = 0;\nlet message = `BG ${value} mg/dL (${trend})`;\n\nif (severity === 'urgent_low') { title = 'BG MiniView - URGENT LOW'; priority = 1; }\nif (severity === 'low') { title = 'BG MiniView - LOW'; }\nif (severity === 'high') { title = 'BG MiniView - HIGH'; }\nif (severity === 'urgent_high') { title = 'BG MiniView - URGENT HIGH'; priority = 1; }\nif (severity === 'stale') {\n  title = 'BG MiniView - STALE DATA';\n  priority = 1;\n  message = `No fresh BG data (stale ${staleMin} min). Last BG ${value} mg/dL (${trend}).`;\n}\n\nif (shouldAlert) {\n  staticData.lastSentBySeverity[severity] = now;\n}\n\nreturn [{\n  shouldAlert,\n  severity,\n  title,\n  message: message + ` | source=${bg.source || 'unknown'} | stale=${staleMin}m`,\n  priority\n}];"
      },
      "id": "code-evaluate",
      "name": "Evaluate + Cooldown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        950,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.shouldAlert}}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-alert",
      "name": "Should Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1180,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pushover.net/1/messages.json",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{$item(0).$node['Config'].json.pushoverToken}}"
            },
            {
              "name": "user",
              "value": "={{$item(0).$node['Config'].json.pushoverUser}}"
            },
            {
              "name": "title",
              "value": "={{$json.title}}"
            },
            {
              "name": "message",
              "value": "={{$json.message}}"
            },
            {
              "name": "priority",
              "value": "={{$json.priority}}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "http-pushover",
      "name": "Send Pushover",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1410,
        180
      ]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "MCP get_current_bg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP get_current_bg": {
      "main": [
        [
          {
            "node": "Evaluate + Cooldown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate + Cooldown": {
      "main": [
        [
          {
            "node": "Should Alert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Alert?": {
      "main": [
        [
          {
            "node": "Send Pushover",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
